/*HEADER*/
.navigation-bar{
    background-color: rgb(19, 25, 33);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 0 20px;
}
.left-navbar, .right-navbar{
    width: 180px;
}

.amazon-link{
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    margin: 0;
    border-radius: 4px;
}
.amazon-link:hover{
    outline: 1px white solid;
}
.left-navbar .amazon-logo{
    padding-top: 5px;
    width: 100px;
}
.left-navbar .amazon-logo-mobile{
    height: 37px;
    padding-top: 4px;
    display: none;
}
.middle-navbar{
    display: flex;
    flex: 1;
    max-width: 850px;
    padding: 0 10px;
}
.middle-search-bar{
    padding: 11px 15px;
    font-size: 16px;
    border-radius: 4px;
    width: 0;
    border: none;
    flex: 1;
}
.middle-navbar img{
    width: 22px;
    height: 22px;
}
.middle-search-button{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: rgb(254, 189, 105);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -10px;
}
.menu-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.menu-burger{
    width: 23px;
    display: none;
}
.right-navbar{
    display: flex;
    align-items: center;
    justify-content: end;
}
.list-right-nav-container{
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
.return-refund{
    margin-right: 10px;
    padding: 4px;
    border-radius: 4px;
}
.return-refund:hover{
    outline: 1px white solid;
}
.return-refund span{
    display: flex;
}
.burger-cart-quantity{
    color: rgb(240, 136, 4);
}
.right-navbar-link-return{
    font-size: 13px;
}
.right-navbar-link-orders{
    font-weight: 700;
    font-size: 14px;
}

.right-navbar-cart-container{
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
    border-radius: 4px;
}
.right-navbar-cart-container:hover{
    outline: 1px white solid;
}
.cart-icon{
    width: 50px;
    position: relative;
    justify-content: center;
}
.cart-name{
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
    position: relative;
}
.right-nav-cart-quantity{
    color: rgb(240, 136, 4);
    font-size: 16px;
    width: 26px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    top: 5px;
    left: 21px;
}
/*HEADER*/


@media (max-width: 800px) {
    .left-navbar{
        width: 110px;
    }
}

@media (max-width: 570px){
    .left-navbar{
        width: 45px;
    }
    .left-navbar .amazon-logo{
        display: none;
    }
    .left-navbar .amazon-logo-mobile{
        display: inline-block;
    }
    .return-refund,
    .right-navbar-cart-container{
        display: none;
    }
    .right-navbar{
        width: 30px;
        display: flex;
        justify-content: center;
    }
    .menu-burger{
        display: inline-block;
    }

    .list-right-nav-container{
        position: fixed;
        top: 0px;
        height: 0;
        left: 0;
        right: 0;
        background-color: rgb(19, 25, 33);
        z-index: 99;
        font-weight: 700;
        display: flex;
    }
    .list-right-nav-container a{
        display: none;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
    }
    .list-right-nav-container a:hover{
        background-color:  rgb(38, 50, 63);
    }

}
